experimental_monorepo_root = true

[settings]
experimental = true
python.uv_venv_auto = true
lockfile = true
task.monorepo_exclude_dirs = [
  '.*',
  'node_modules',
  'target',
  'dist',
  'build',
  'vendor/zsh',
]

[tools]
node = '24'
uv = 'latest'
'pipx:basedpyright' = 'latest'
ruff = 'latest'
clang-format = "latest"
hk = "latest"
pkl = "latest"

[hooks]
postinstall = '''
hk install --mise
corepack enable
mise run :dev
'''

[env]
_.path = ['./node_modules/.bin']

[tasks.dev]
description = "Initialize development environment"
depends = ['//:dev:*']

[tasks."dev:pnpm"]
description = "Initialize node modules"
run = 'pnpm install'
sources = ['package.json', 'pnpm-lock.yaml', 'mise.toml']
outputs = ['node_modules/.pnpm/lock.yaml']

[tasks."dev:uv"]
description = "Initialize uv"
run = 'uv sync --all-packages'

[tasks.pre-commit]
run = 'hk run pre-commit'

[tasks.build]
description = "Build everything"
depends = '//...:build:*'

[tasks.test]
description = "Run all tests"
depends = '//...:test'

[tasks.prettier]
description = "Format with Prettier"
usage = '''
arg "<files>" var=#true default="." help="Specify files or directories to format"
flag "--check" help="Check formatting without making changes"
'''
run = 'pnpm exec prettier --ignore-unknown --write ${usage_check:+--check} ${usage_files?}'

[tasks.ruff-format]
description = "Format with ruff"
usage = '''
arg "<files>" var=#true default="." help="Specify files or directories to format"
flag "--check" help="Check formatting without making changes"
'''
run = 'ruff format ${usage_check:+--check} ${usage_files?}'

[tasks.eslint]
description = "Lint with ESLint"
usage = '''
arg "<files>" var=#true default="." help="Specify files or directories to lint"
flag "--fix" help="Fix lint issues"
'''
wait_for = 'prettier'
run = 'pnpm exec eslint ${usage_fix:+--fix} ${usage_files?}'

[tasks.ruff]
description = "Lint with ruff"
usage = '''
arg "<files>" var=#true default="." help="Specify files or directories to lint"
flag "--fix" help="Fix lint issues"
'''
wait_for = 'ruff-format'
run = 'ruff check ${usage_fix:+--fix} ${usage_files?}'

[tasks.basedpyright]
description = "Type check with basedpyright"
usage = '''
arg "<files>" var=#true default="." help="Specify files or directories to type check"
'''
wait_for = 'ruff'
run = 'basedpyright ${usage_files?}'

[tasks.format]
description = "Format all code"
usage = '''
flag "--check" help="Check formatting without making changes"
'''
run = [
  { tasks = [ ":prettier", ":ruff-format" ] }
]

[tasks.lint]
description = "Lint all code"
usage = '''
flag "--fix" help="Fix lint issues"
'''
run = [
  { tasks = [ ":eslint", ":ruff", ":basedpyright" ] }
]

[tasks.format-and-fix]
description = "Format and fix all code"
run = [
  { tasks = [ ":format", ":eslint --fix", ":ruff --fix" ] }
]
