experimental_monorepo_root = true

[settings]
experimental = true
python.uv_venv_auto = true
lockfile = true
task.monorepo_exclude_dirs = [
  '.*',
  'node_modules',
  'target',
  'dist',
  'build',
  'vendor/zsh',
]

[tools]
node = '24'
uv = 'latest'
'pipx:basedpyright' = 'latest'
ruff = 'latest'
hk = "latest"
pkl = "latest"

[hooks]
postinstall = '''
hk install --mise
corepack enable
mise run :dev
'''

[env]
_.path = ['./node_modules/.bin']

[tasks.dev]
description = "Initialize development environment"
depends = ['//:dev:*']

[tasks."dev:pnpm"]
description = "Initialize node modules"
run = 'pnpm install'
sources = ['package.json', 'pnpm-lock.yaml', 'mise.toml']
outputs = ['node_modules/.pnpm/lock.yaml']

[tasks."dev:uv"]
description = "Initialize uv"
run = 'uv sync --all-extras'

[tasks.pre-commit]
run = 'hk run pre-commit'

[tasks.build]
description = "Build everything"
depends = '//...:build:*'

[tasks.test]
description = "Run all tests"
depends = '//...:test:*'

[tasks.lint]
description = "Lint source files"
run = 'hk check'

[tasks.format]
description = "Format source files"
run = 'hk fix --step prettier --step ruff_format --step newlines'
