[tasks.extract-raw-syntax]
wait_for = ['//vendor:prepare:build']
sources = [
  '//vendor/zsh/Src/*.c',
  '//vendor/zsh/Src/zsh.h',
  '//vendor/zsh_compile_commands.json',
  'src/zsh_grammar/extract_raw_syntax.py',
]
outputs = ['raw-syntax.json']
description = "Extract raw Zsh syntax"
run = '''
if [[ ! -f "../vendor/zsh_compile_commands.json" ]]; then
  mise run //vendor:prepare
fi
uv run extract_raw_syntax
'''

[tasks.extract-relations]
wait_for = ['//vendor:prepare:build']
sources = [
  '//vendor/zsh/Src/*.c',
  '//vendor/zsh/Src/zsh.h',
  '//vendor/zsh_compile_commands.json',
  'src/zsh_grammar/extract_relations.py',
]
outputs = ['relations.json']
description = "Extract Zsh relations"
run = '''
if [[ ! -f "../vendor/zsh_compile_commands.json" ]]; then
  mise run //vendor:prepare
fi
uv run extract_relations
'''

[tasks."build:canonical"]
description = "Build canonical Zsh grammar"
depends = [':extract-*']
sources = [
  'raw-syntax.json',
  'relations.json',
]
outputs = ['zsh_grammar.json']
run = 'uv run normalize_grammar'

[tasks.validate-schema]
description = "Validate canonical Zsh grammar"
depends = [':build:canonical']
run = 'uv run validate_schema'

[tasks."generate:tree-sitter"]
depends = [':build:cacnonical']
sources = [
  'zsh_grammar.json',
  'src/zsh_grammar/generate_tree_sitter.py',
]
outputs = ['//tree-sitter-zsh/grammar.js']
run = 'uv run generate_tree_sitter'
